body{
    text-align: center;
    background-color: rgb(220, 243, 243);


}
span{
    font-size: 4rem;

    background: -webkit-linear-gradient(rgb(195, 214, 26), rgb(58, 4, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.option{
    margin-top: 5%;
    font-size: 1.5rem;
}
#dept{
    margin-bottom: 2%;

}
h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(rgb(233, 80, 220), rgb(26, 155, 187));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  